/* Swiper */
.slider-container {
  max-width: 124rem;

  padding: 4rem 1rem 0;
  margin: 0 auto;
}

.slider-heading {
  padding: 1rem 0;
  font-size: 3.5rem;
  text-align: center;
}

.swiper_container {
  height: 42rem;
  padding: 2rem 0;
  position: relative;
}

.swiper-slide {
  width: 25rem;
  height: 42rem;
  position: relative;
}

@media (max-width: 900px) {
  .slider-container {
    max-width: 90rem;
  }
  .swiper-button-next {
    right: 15% !important;
  }
}

@media (max-width: 700px) {
  .slider-container {
    max-width: 70rem;
  }
  .swiper-button-next {
    right: 31% !important;
  }
}

@media (max-width: 590px) {
  .swiper_container {
    max-width: 60rem;
  }
  .swiper-slide img {
    width: 20rem !important;
    height: 20rem;
  }

  .card-content {
    width: 319.94px;
  }
  .swiper-button-prev {
    left: -9% !important;
  }
  .swiper-button-next {
    right: 43% !important;
  }
}

@media (max-width: 500px) {
  .swiper_container {
    height: 40rem;
  }
  .swiper-slide img {
    width: 20rem !important;
    height: 20rem;
  }

  .card-content {
    width: 319.94px;
  }
  .swiper-button-prev {
    left: -2% !important;
  }
  .swiper-button-next {
    right: 50% !important;
  }
}

@media (max-width: 450px) {
  .swiper_container {
    max-width: 55rem;
  }
  .swiper-slide img {
    width: 18rem !important;
    height: 20rem;
  }

  .card-content {
    width: 287.93px;
  }
  .swiper-button-prev {
    left: -1% !important;
  }
  .swiper-button-next {
    right: 55% !important;
  }
}

.swiper-slide img {
  width: 45rem;
  height: 39rem;
  border-radius: 2rem;
  object-fit: cover;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.slider-controler {
  position: absolute;
  top: 43%;
  left: 35%;
  height: 20px;
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-button-next .slider-arrow {
  right: -13% !important;
}

.swiper-button-prev .slider-arrow {
  left: -15% !important;
}

.slider-controler .slider-arrow::after {
  content: "";
}

.swiper-pagination {
  position: relative;
  width: 15rem !important;
  bottom: 1rem;
}

.swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: wheat;
}
