@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: white;

  box-sizing: border-box;
}

@media (max-width: 768px) {
  .hero-background {
    background-size: 250% 250% !important;
    background-position: 50% 50% !important;
  }
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.scrollbar-container::-webkit-scrollbar{
  height:12px;
}

.scrollbar-container::-webkit-scrollbar-thumb{
  background: black;
  border-radius:10px;
  box-shadow:0px 0px 6px 7px rgba(0,0,0,0.05);
}

@keyframes moveStopSequence {
  0% {
    transform: translateX(142px); /* Start position */
  }
  20% {
    transform: translateX(170px); /* Move a bit */
    animation-timing-function: cubic-bezier(0.7, 0, 1, 0.5); /* Fast stop */
  }
  30% {
    transform: translateX(170px); /* Pause */
  }
  50% {
    transform: translateX(195px); /* Move a bit more */
    animation-timing-function: cubic-bezier(0.7, 0, 1, 0.5); /* Fast stop */
  }
  60% {
    transform: translateX(195px); /* Pause */
  }
  80% {
    transform: translateX(215px); /* Final move */
    animation-timing-function: cubic-bezier(0.7, 0, 1, 0.5); /* Fast stop */
  }
  90% {
    transform: translateX(215px); /* Pause */
  }
  100% {
    transform: translateX(142px); /* Linear return */
    animation-timing-function: linear; /* Smooth return */
  }
}

@keyframes moveStopSequenceWidth {
  0% {
    width:74%; /* Start position */
  }
  20% {
    width: 82%; /* Move a bit */
    animation-timing-function: cubic-bezier(0.7, 0, 1, 0.5); /* Fast stop */
  }
  30% {
    width: 82%;  /* Pause */
  }
  50% {
    width: 88%;  /* Move a bit more */
    animation-timing-function: cubic-bezier(0.7, 0, 1, 0.5); /* Fast stop */
  }
  60% {
    width: 88%;  /* Pause */
  }
  80% {
    width: 94%;  /* Final move */
    animation-timing-function: cubic-bezier(0.7, 0, 1, 0.5); /* Fast stop */
  }
  90% {
    width: 94%;  /* Pause */
  }
  100% {
    width:74%; /* Linear return */
    animation-timing-function: linear; /* Smooth return */
  }
}
