@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: white;

  box-sizing: border-box;
}

@media (max-width: 768px) {
  .hero-background {
    background-size: 250% 250% !important;
    background-position: 50% 50% !important;
  }
}

.scroll-container::-webkit-scrollbar {
  display: none;
}
